
html {
    font-family: 'Georgia';
    font-weight: normal;
    color: #000;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background: #333;
    background: #FFF;
    width: 851px;
    margin: auto;
}

h1 {
    font-weight: normal;
    font-size: 44px;
}

h2 {
    font-weight: normal;
    color: #6633CC;
}

#banner {

}

#banner_image {
    width: 851px;
}

#menu {
    height: auto;
    margin: -20px 0 0 0;
}

#menu ul {
    text-align: center;
    font-size: 22px;
    width: 100%;
    height: 100%;
}

#menu li {
    padding: 0px 55px 0px 0px;
    display: inline-block;
}

#menu a {
    text-decoration: none;
    color: #6633CC;
}

#menu a:hover {
    color: #C00000;
    /*text-decoration: underline;*/
}

.content {
    padding: 20px 0 20px 0;
    clear: both;
}

#page_content {
    /* width: 100%;*/
    clear: both;
    float: none;
}

p {
    text-indent: 2em;
    line-height: 150%;
    margin-bottom: 0em;
    margin-top: 0.3em;
}

